@media screen and (min-width: 480px) {

    .container {
        max-width: 428px;
    }
/* ===================nMOBILE MENU */

.mob-menu-tel {
    font-size: 36px;
}

/* ===============================HEEEEROOOOOOOO */
.container .main-title {
    width: 320px;
}
    /* ================OUR FEATURES / TEXT STUDIO */


/* =================WHAT WE ARE DOING */
.gallery-action { 
    display: none;
}

    /* ================OUR TEAM */
    .gallery > .container {
        max-width: 296px;
    }
/* ============================CUSTOMERS  */

.customer-item {
    width: calc((100% - 16px) / 2);    
}

.customer-link {
width: 170px;
}

    /* ======================FOOOOOOOTER */

    .email-input {
    width: 398px;
}
.footer-social-media {
    margin-bottom: 72px;
}
/* ================MODAL  */
.modal {
    width: 392px;
    height: 586px;
    
}

}