/* delaem dla togo cztob wpisat peremennyje CSS */
:root {
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --text-footer-color: #E7E9FC;
    --btn-color: #4D5AE5;
    --btn-text-color: #4D5AE5;
    --btn-text-secondary-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --bg-color-image: #FFFFFF;
    --btn-bg-color: #F4F4FD;
    --bg-color-section: #F4F4FD; 
    --bg-zagolowok: #2E2F42;
    --border-color: #E7E9FC;
}
/* ============body */
body {
color: var(--title-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
background: var(--primary-bg-color);
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.img {
    display: block;
    max-width: 100%;
}
/* ====================HEADER */
.header {
    background: var(--primary-bg-color);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-list {
    display: flex;
    gap: 40px;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header .container {
    display: flex;
    align-items: center;
}

.container {
    /* outline: 2px tomato solid; */
    max-width: 100%;
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ==========================H1 */
.container .main-title {
    width: 496px;
    margin-right: auto;
    margin-left: auto;
}
.main-title {
text-align: center;
font-weight: 700;   
font-size: 56px;
line-height: 1.07;
text-align: center;

color: var(--bg-color-image);
}
/* =================logo */
.header-logo {
margin-right: 76px;

font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--btn-color);
}
.header-logo-studio {
color:var(--title-text-color);
}
.footer-logo-studio {
color: var(--btn-bg-color);    
}
/* ==================navigation */
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--title-text-color);
}
.header-link:focus,
.header-link:hover {
color: var(--btn-color);
}
.header-nav .current {
    color: var(--btn-color);
}
/* =====================adres */
.address-link {
font-style: normal;
font-size: 16px;    
line-height: 1.5;
color: var(--text-color);
}
.address-link:hover,
.address-link:focus {
color: var(--btn-color); 
}
/* ==============ZAGOLOWOK  stuidio*/
.hero-studio {
    background-color: var(--bg-zagolowok); 
    padding-top: 188px;
    padding-bottom: 188px;
}
/* ===================knopki spisok portfolio */

.hero-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.hero-btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

/* ===================PORTFOLIO KARTINKI  */
.hero-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.hero-portfolio-list .hero-item {
    flex-basis: calc(100% / 3 - 24px);
}
.portfolio-text-wrap {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
/* border: 1px solid #d01319;  */
border-left: 1px solid var(--border-color);
border-right: 1px solid var(--border-color);
border-bottom: 1px solid var(--border-color);
}

.hero-portfolio-description {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

/* =================knopki design*/
.hero-btn-order {
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;

font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

color: var(--btn-text-secondary-color);
background: var(--btn-color);
cursor: pointer;
border: none;
}
.hero-btn-order:hover,
.hero-btn-order:focus {
/* background-color: var(--btn-bg-color);
color: var(--btn-text-color); */
}

.hero-btn {
align-items: center;
padding: 12px 24px;

height: 48px;

border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--btn-color);
background: var(--btn-bg-color);
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
background: var(--btn-color);
color: var(--btn-text-secondary-color);
}
/* ================text studio */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--primary-bg-color);
}

.hero-text .hero-list {
    display: flex;
    gap: 24px;
}

.hero-list .hero-item {
    width: 264px;
}

.hero-item-text {
    margin-top: 8px;
}
/* ======================ZAGOLOWOKi */
.gallery-team {
font-weight: 700;   
font-size: 36px;
line-height: 1.1;
text-align: center;

text-transform: capitalize;
}
.gallery-team-member {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}
/* =================WHAT WE ARE DOING */
.gallery-action {
    padding-bottom: 120px;
} 

.gallery-pics-list {
display: flex;
margin-top: 72px;
gap: 24px;
}
.gallery-pics-item {    
    width: calc((100% - 48px) / 3)
}

/* ===============OUR TEAM  */
.gallery {
    background-color:var(--bg-color-section);
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery .hero-list-team {
display: flex;
margin-top: 72px;
gap: 24px;
text-align: center
}
.gallery-team-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

.gallery .hero-item-text {
    margin-top: 8px;
}

.hero-list-team .team-item {
    width: calc((100% - 3*24px) / 4);

    background: var(--bg-color-image);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* ================KARTINKI */
.hero-title {
position: absolute;
white-space: nowrap;
width: 1px; 
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.hero-title-description {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}

.hero-item-text {
font-size: 16px;
line-height: 1.5;
color: var(--text-color);
}

/* ==================CUSTOMERS */
.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

/* ===================foooooooter */
.footer {
    background-color: var(--bg-zagolowok);
}
.footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.footer-text {
margin-top: 16px;
max-width: 264px;
font-size: 16px;
line-height: 1.5;
color:var(--text-footer-color);
}