/* delaem dla togo cztob wpisat peremennyje CSS */
:root {
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --text-footer-color: #E7E9FC;
    --btn-color: #4D5AE5;
    --btn-text-color: #4D5AE5;
    --btn-text-secondary-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --bg-color-image: #FFFFFF;
    --btn-bg-color: #F4F4FD;
    --bg-color-section: #F4F4FD; 
    --bg-zagolowok: #2E2F42;
    --border-color: #E7E9FC;
    --hover-color-media: #404BBF;
    --transition-speed: 250ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============body */
body {
color: var(--title-text-color);
font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
background: var(--primary-bg-color);
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
.img {
    display: block;
    max-width: 100%;
}
/* ====================HEADER */
.header {
    background: var(--primary-bg-color);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.header-list {
    display: none;

}

.header-nav .header-logo {
    display: block;
    text-align: left;
}


.container {
    width: 100%;
    max-width: 1158px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
/* ==========================H1 */
.container .main-title {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
}
.main-title {
text-align: center;
font-weight: 700;   
font-size: 36px;
line-height: 1.07;
text-align: center;

color: var(--bg-color-image);
}
/* =================logo */
.header-logo {

font-family: 'Raleway', sans-serif;
font-weight: 800; 
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--btn-color);
}
.header-logo-studio {
color:var(--title-text-color);
}
.footer-logo-studio {
color: var(--btn-bg-color);    
}

/* ==================MOBILE MENU  */
.modal-menu-icon {
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/svg/menu.png);
}


.menu-btn {
    stroke: #2E2F42;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    right: 17px;
    top: 25px;
}

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    padding: 80px 35px 40px 40px;
}

.mob-menu > .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
top: 24px;
right: 24px;

    width: 24px;
    height: 24px;
    border: 1px solid #b5bcf9;
    background-color: rgba(231, 233, 252, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon {
    fill: black;
}

.mob-menu-list {
display: flex;
flex-direction: column;
gap: 40px;
}

.mob-menu-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--title-text-color);
}

.mob-menu-link:focus,
.mob-menu-link:hover {
color: var(--btn-color);
}

.mob-menu-mail {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--text-color);
}

.mob-menu-mail:hover,
.mob-menu-mail:focus {
    color: var(--btn-color);
}

.mob-menu-tel {
        font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    font-style: normal;
    color: var(--text-color);
}
.mob-menu-tel:hover,
.mob-menu-tel:focus {
    color: var(--btn-color);
}

.mob-social-media-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.mob-social-media-item {

}
.mob-social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--btn-color);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
}
.social-media-icon {
}

/* ==================navigation */
.header-list {
    display: none;
}

/* =====================adres */

/* ==============HERO - ZAGOLOWOK  stuidio*/
.hero-studio {
    background-color: var(--bg-zagolowok); 
    padding-top: 112px;
    padding-bottom: 112px;
}
.hero-studio {
    background-color: #2E2F42;
    height: 432px;

    background-image: linear-gradient( 
    to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/phone/dark-bg1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: url(../images/phone/dark-bg2x.jpg);
    }
}

/* ===================knopki spisok portfolio */

.hero-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.hero-btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

/* ===================PORTFOLIO KARTINKI  */
.hero-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.hero-portfolio-list .hero-item {
    flex-basis: calc(100% / 3 - 24px);
}
.portfolio-text-wrap {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
border-left: 1px solid var(--border-color);
border-right: 1px solid var(--border-color);
border-bottom: 1px solid var(--border-color);
}

.hero-portfolio-description {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--bg-zagolowok);
}

.hero-cover-wrap {
    position: relative;
    overflow: hidden;
}

.hero-cover-text {
    position: absolute;
    top: 0;
    color: var(--bg-color-section);
    background-color: var(--btn-color);

    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    height: 100%;

    font-size: 16px;
    line-height: 1.5;

    transform: translatey(100%);
transition-property: transform;
transition-duration: var(--transition-speed);
transition-delay: 0;
transition-timing-function: var(--transition-timing);
}

.hero-portfolio-list .hero-item:hover .hero-cover-text {
    transform: translatey(0);
}

/* =================knopki design*/
.hero-btn-order {
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    display: block;

font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

color: var(--btn-text-secondary-color);
background: var(--btn-color);
cursor: pointer;
border: none;

transition-property: background, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
}

.hero-btn-order:hover,
.hero-btn-order:focus {
background-color: var(--hover-color-media); 
color: var(--btn-text-secondary-color);
}

.hero-btn {
align-items: center;
padding: 12px 24px;

height: 48px;

border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--btn-color);
background: var(--btn-bg-color);
cursor: pointer;

transition-property: background, box-shadow, transform;
transition-duration: 250ms;
transition-delay: 0;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
background: var(--btn-color);
color: var(--btn-text-secondary-color);
/* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08); */
box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}
/* ================OUR FEATURES / TEXT STUDIO */
.features {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--primary-bg-color);
}

.hero-item > .thumb {
    display: none;
}

.hero-title-description {
    text-align: center;
}

.hero-list .hero-item:not(:last-child) {
margin-bottom: 72px;
}

.hero-item-text {
    margin-top: 8px;
}

.hero-item > .hero-title-description {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
}
.features-icon {
    fill: #2E2F42;
}

.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--btn-bg-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
}

/* ======================ZAGOLOWOKi */
.gallery-team-member {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}
/* =================WHAT WE ARE DOING */
.gallery-action {
    padding-bottom: 120px;
    display: none;
}   

.gallery-pics-list {
display: flex;
margin-top: 72px;
gap: 24px;
}
.gallery-pics-item {    
    width: calc((100% - 48px) / 3)
}

/* ===============OUR TEAM  */
.gallery-team {
font-weight: 700;   
font-size: 36px;
line-height: 1.1;
text-align: center;

text-transform: capitalize;
}

.gallery {
    background-color:var(--bg-color-section);
    padding-top: 96px;
    padding-bottom: 128px;
}

.gallery .hero-list-team {
width: 100%;
display: flex;
flex-wrap: wrap;
text-align: center
}
.gallery-team-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
}

.gallery .hero-item-text {
    margin-top: 8px;
}
.team-item > .img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-list-team .team-item {
    margin-top: 72px;
    width: 100%;

    background: var(--bg-color-image);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.hero-list-team .social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    cursor: pointer;

    transition-property: background, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-delay: 0;
}
.hero-list-team .social-media-link:hover,
.hero-list-team .social-media-link:focus {
    background-color: var(--hover-color-media);
}


.hero-list-team .social-media-link:is(:hover, :focus) .social-media-icon {
fill: var(--btn-bg-color);
}

.gallery-team-wrap .social-media-list {
    margin-top: 8px;
    gap: 24px;
}

/* ================KARTINKI */
.hero-title {
position: absolute;
white-space: nowrap;
width: 1px; 
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.hero-title-description {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}

.hero-item-text {
font-size: 16px;
line-height: 1.5;
color: var(--text-color);
}
.hero-item .hero-item-img:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-item-img {
display: block;
text-decoration: none;
}

/* ====================CUSTOMERS */
.customers {
    padding-top: 96px;
    padding-bottom: 96px;

}
.customer-list {
justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 72px;
}
.customer-item {
    display: block;
    margin-bottom: 72px;
}

.customer-item:nth-child(5) {
margin-bottom: 0;
}
.customer-item:nth-child(6) {
margin-bottom: 0;
}


.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 88px;
    background-color: var(--primary-bg-color);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    cursor: pointer;

    transition-property: border-color, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 252
}

.customer-link:focus,
.customer-link:hover {
    border-color: var(--btn-text-color);
}

.customer-link:is(:hover, :focus) .customer-icon {
    fill: var(--btn-text-color);
    transition: 250ms; 
}

.customer-icon {
    fill: #8E8F99;
}

/* ===================foooooooter */
.footer {
    background-color: var(--bg-zagolowok);
}
.footer .container {
    padding-top: 96px;
    padding-bottom: 104px;
}

.header-logo { 
display: block;
text-align: center;
}

.footer-text {
    margin-right: auto;
    margin-left: auto;
margin-top: 16px;
margin-bottom: 72px;
max-width: 268px;
font-size: 16px;
line-height: 1.5;
color:var(--text-footer-color);

}

.footer-title {
    
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--btn-text-secondary-color);
text-align: center;
margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition-property: background, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-delay: 0;
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #31D0AA;
}

.social-media-icon {
    fill: var(--btn-bg-color);
}


.footer-social-media {
    margin-bottom: 72px;
}

/* =============FOOTER SUBSCRIBE  */
.btn-subscribe {
    margin-right: auto;
    margin-left: auto;

    background-color: var(--btn-color);
    cursor: pointer;
    width: 165px;
    height: 40px;

    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--btn-text-secondary-color);
    border: none;
    font-weight: 500;

    transition-property: background, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-delay: 0;
}   


.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: #404BBF;
    box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}

.subscribe-icon {
    fill: #FFFFFF;
}

.email-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 264px;
    min-height: 40px;
    color: var(--primary-bg-color);
    border-radius: 4px;
    padding: 8px 16px;
}
.email-input {
    display: block;
    margin-bottom: 16px;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
}


/* ===================MODALKA POP UP */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.539);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-height: 500px;
    width: 290px;
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    padding:72px 16px 16px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 24px;

    width: 24px;
    height: 24px;
    border: 1px solid #b5bcf9;
    background-color: rgba(231, 233, 252, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close:is(:hover, :focus) {
    background-color: var(--hover-color-media);
}

.modal-close:is(:hover, :focus) .modal-close-icon {
    fill: var(--btn-text-secondary-color)
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* =============WNUTRI modalki */

.modal-title {
    margin-bottom: 34px;
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--title-text-color);
}

.form-field:not(:last-child) {
    margin-bottom: 26px;
    position: relative;
}


.form-label {
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translatey(-50%);
}

.form-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 38px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: rgba(117, 117, 117, 0.5);
}

.form-input:hover,
.form-input:focus {
    border: 1px solid var(--btn-text-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translate(-40px, -37px);
    color: #8E8F99;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);

    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-delay: 0;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
}

.form-input:focus ~ .modal-icon {
fill: var(--btn-color);
}

.form-label-textarea {
    position: absolute;
    transform: translatey(-17px);



    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
}

.textarea {
    resize: none;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
    border-color: var(--btn-color);
}

/* ===============WNUTRI MODALKI CONSENT */
.label-consent {
    display: flex;
    font-weight: 400;
font-size: 12px;
line-height: 1.16;
color: #757575;
}

.input-consent {
appearance: none;
position: absolute;
}   

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1.25px solid var(--bg-zagolowok);
    fill: transparent;
}

.input-consent:checked + .check {
    border: none;
    background-color: var(--btn-text-color);
    fill: var(--bg-color-image);
}

.policy {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
color: var(--btn-text-color);
}

.consent-field {
    margin-top: 16px;
}

.btn-send{
    width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;

margin-right: auto;
margin-left: auto;
margin-top: 24px;

font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

color: var(--btn-text-secondary-color);
background: var(--btn-color);
cursor: pointer;
border: none;   

transition-property: background, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0;
}

.btn-send:hover,
.btn-send:focus {
background-color: #404BBF;
}

/* ===================MEDIA ZAPYT */






